@use "../Partials/Variables" as *;

.cart {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.cart_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cart_overlay {
  justify-content: flex-start;
  padding: 20px;
  text-align: left;

  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 25rem;
  border-radius: $border-radius-primary;
  background-color: rgb(255, 255, 255);
  position: static;

  h1 {
    padding: 1rem;
    color: rgb(0, 0, 0);
    padding: 1rem;
    font-family: $font-primary;
    align-self: flex-start;
  }

  .fetch_city {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    border-top: 1px solid rgba(39, 39, 39, 0.308);
    border-bottom: 1px solid rgba(39, 39, 2, 0.308);
    padding: 1rem;

    h2 {
      grid-row: 1/2;
      grid-column: 1/2;
      font-size: $font-size-xl;
      padding-right: 1rem;
      color: rgb(0, 0, 0);
    }

    p {
      grid-row: 2/3;
      grid-column: 1/4;
      padding-top: 10px;
      font-size: $font-size-sm;
      color: rgb(0, 0, 0);
    }

    .menu_dotted_line {
      grid-row: 1/2;
      grid-column: 2/3;
      border-bottom: dotted 1.5px rgb(0, 0, 0);
      color: rgb(0, 0, 0);
    }
    .sum {
      grid-row: 1/2;
      grid-column: 3/4;
      padding-left: 1rem;
      color: rgb(0, 0, 0);
    }
  }
}
.cart_footer {
  width: 100%;
  max-width: 25rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;

  .button_footer {
    border: none;
    width: 100%;
    height: 90%;
    font-family: $font-primary;
    background-color: black;
    border-radius: $border-radius-primary;
    color: white;
    font-size: $font-size-xl;
  }

  .total_footer {
    display: flex;
    width: 100%;
    height: 90%;
    background-color: grey;
    border-radius: $border-radius-primary;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: 500;

    .sum_footer_left {
      font-size: $font-size-xl;
      color: rgb(0, 0, 0);
      align-self: center;
      padding: 1rem;
    }

    .sum_footer_right {
      font-size: $font-size-xxl;
      align-self: center;
      padding: 1rem;
      color: rgb(0, 0, 0);
    }
  }
}

.quantity {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity span {
  color: black;
  font-size: 16px;
}

.remove_btn,
.add_btn {
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add_btn:hover {
  background-color: rgb(176, 201, 144);
}

.remove_btn:hover {
  background-color: rgb(201, 171, 144);
}

.empty-cart-message {
  font-size: 1.5rem;
  color: #8dd6be;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
