@use "../Partials/Variables" as *;

.menu {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    position: relative; 
}

.menu_content_container {
    width: 100%;
    height: 100%;
    background-color: $bg-color-secondary;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: white;
        font-family: $font-primary;
        align-self: flex-start;
        justify-content: flex-start;
        padding: 2rem;
    }
}

.main_img {
    width:100%;
}

.Menu_Info {
    background-color: $bg-color-primary;
}

.menu_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // Flyttar overlay till mitten
    width: 80%; // Justera storleken efter behov
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(128, 128, 128); 
   
}