@use "../Partials/Variables" as *;

.header_container {
  padding-bottom: 0rem;
}

.orderConfirm {
  font-family: $font-primary;
  background-color: $bg-color-primary;
  height: 100%;
  width: 100vw;
}

.confirm_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 30px;

  h1 {
    font-size: $font-size-xxl;
    justify-items: center;
    margin: 0.5rem 0;
    font-weight: 600;
    text-align: center;
    z-index: 1;
    display: block;
    width: 100%;
  }

  h1 .last-word {
    display: block; /* Gör så att det sista ordet hamnar på en ny rad */
    margin-top: 0.5rem; /* Lägger lite avstånd om du vill */
  }

  h2 {
    font-size: $font-size-xl;
    font-weight: 400;
    margin: 0.5rem 0;
  }
  p {
    font-size: $font-size-md;
    font-weight: 300;
  }
}

.bottom_buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;

  .order_button {
    background-color: $bg-color-black;
    padding: 1rem;
    font-weight: 500;
    color: white;
    border: none;
    width: 20rem;
    border-radius: $border-radius-primary;
    font-size: $font-size-xl;
  }

  .receipt_button {
    background-color: $bg-color-light-grey;
    padding: 1rem;
    color: white;
    width: 20rem;
    border: solid white 1px;
    font-family: $font-primary;
    border-radius: $border-radius-primary;
    font-size: $font-size-xl;
  }
}
