@use "../Partials/Variables" as *;

.menu_dotted_line {
  border-bottom: dotted 1.5px rgb(255, 255, 255);
}

.dip_container {
  width: 100%;
  padding-bottom: 1rem;
}

.dip_select {
  background-color: $bg-color-light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-primary;
  font-size: $font-size-sm;
  padding: 0.5rem;
  width: calc(33.33% - 1rem);
  box-sizing: border-box;
  height: 40px;
  width: 110px;
}
.dip_items {
  justify-content: center;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.clickable:active {
  transform: scale(0.995);
}
