@use "../Partials/Variables" as *;

.header_container {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    padding: 1rem;

}
.white_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 10%;
}
.cart_img_right {
    height: 2rem;
    width: 1.8rem;
}

.header_img_left {
    height: 3.5rem;
}